.menu{
    background-color: #ff7f50;
    text-align: center;
    font-size: 0px;
}

.menu a{
    color: #ffffff;
    text-decoration: none;/*文字裝飾*/
    padding: 10px 20px;/*上下10px 左右20px*/

    display: inline-block;
    /* background-color: blueviolet; */
    font-size: 20px;

}

.menu a:hover{
    background-color: black;
}